#contenido-lista {
    font-size: 24px;
}

#contenidos {
    background-color: #F1DFF7;
}

#welcome {
    background-color: #F1DFF7;
}

#contenido-parrafo {
    font-size: 17px;
}


/*#Resultados:hover {
    display: none;
    background-color: gray;
    color: black;
    
}
#ListaClientes:hover{
    display: none;
}*/