        @model MyComercio.Models.Cliente

@{
    ViewData["Title"] = "Edit";
    SelectList paises = ViewBag.ListaPaises;
    SelectList ciudades = ViewBag.ListaCiudades;
}

<h1>Edit</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPais" class="control-label"></label>
                <select asp-for="IdPais" asp-items="paises" class="form-control" id="CountryList"></select>
                @*No hay que olvidarse de cerrar la etiqueta por separado*@
                <span asp-validation-for="IdPais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCiudad" class="control-label"></label>
                <select asp-for="IdCiudad" asp-items="ciudades" class="form-control" id="CityList"></select>
                @*No hay que olvidarse de cerrar la etiqueta por separado*@
                <span asp-validation-for="IdCiudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
 // script para generar combos en cascada

        $(document).ready(
            function () {
                var items = "<option value = '0'> Seleccione ciudad </option>";
                $("#CityList").html(items);
                    //La opcion que primero es "seleccione ciudad"
            });

        $("#CountryList").change(
            function () {
                var IdPaisSelect = $("#CountryList").val();
                var url = "/ciudad/GetCiudades";

                $.getJSON(url, { idPais: IdPaisSelect },

                    function (data) {

                        var item = "";
                        $("#CityList").empty();
                        $.each(data, function (i, city) {

                            item += '<option value = " ' + city.id + ' ">' + city.descripcion + '</option>'

                        });

                        $("#CityList").html(item);

                    });
            });

</script>

}
